<%= form_tag [:search], :method => :get , class: "form-search" do %>
      <%= text_field_tag "title", params[:title] , class: "input-medium search-query", placeholder: "Book title"%>
      <%= submit_tag "検索", class: "btn"%>
<% end %>

<h3>Books</h3>
<%= render 'shared/feed' %>
