<% provide(:title, 'All users') %>
<h1>全てのユーザー</h1>

<%= will_paginate @entries, :previous_label => "⇐ 前ページ", :next_label => "次ページ ⇒" %>

<ul class="users">
  <%= render @users %>
</ul>



<%= will_paginate @entries, :previous_label => "⇐ 前ページ", :next_label => "次ページ ⇒" %>
