<li>
  <%= link_to image_tag(book.image_url, alt: book.title, height: "40px", class: "bookimage") %>
  <span class="title"><%= book.title %></span>
  <span class="timestamp">
    Added <%= time_ago_in_words(book.created_at) %> ago.
  </span>
</li>
